@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

nav{
    background-color: #7030CC;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.logo{
    height: 45px;
    margin: 2em 8em;
}

.nav-right{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.list{
    list-style: none;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.list a{
    text-decoration: none;
}

.list-items{
    margin-right: 50%;
    color: #fff;
}

.item-active{
    color: #309AE6;
    border-bottom:  1px solid #C666DD;
    padding-bottom: .5em;
}

.btn{
    color: #fff;
    background-color: #1BBCEF;
    padding: 2% 4%;
    margin-right: 5em;
    margin-left: 1em;
    outline: none;
    border: none;
}

/* Hero */

.hero{
    display: flex;
    background-color: #7030CC;
    color: #fff;
}

.hero-heading{
    font-size: 4rem;
}

.hero-left{
    width: 47%;
    margin-left: 7.5em;
    margin-top: 5em;
}

.hero-right{
    width: 47%;

}

/* Main */

.main{
    display: flex;
}

.main-left{
    width: 47%;
}

.main-right{
    width: 47%;
    margin-top: 8em;
}



.heading{
    font-size: 2rem;
}

/* Replace the default bullet point */

.main-lists h2::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3e5";
    display: inline-block;
    transform: scaleX(-1);
    color: #F28A3F;
    margin-right: .5em;
    position: relative;
    top: 3px;
    
}
.main-lists:nth-child(2) h2::before{
    color: #88CF4F;
}
.main-lists:nth-child(3) h2::before{
    color: #469FF3;
}

.main-list{
    list-style-type: none;
    margin: 2em;

}
.main-list p{
    margin: 1em 0;
    margin-left: 2.25em;
}

/* card */

.card{
    margin: 1em 10%;
}

.card .heading{
    text-align: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}

.card-img{
    width: 100px;
    border-radius: 50%;
    padding: 1.5em;
    margin: 2em 0;
}

.img1{
    background-color: #FAEAEB;
}

.img2{
    background-color: #FBF0EE;
   
}
.img3{
    background-color: #E9F4F6;
   
}
.img4{
    background-color: #F2E7F5;
    
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px 5px #C3C3C3;
    border-radius: 15px;

    width: 230px;
}

.cards .description{
    margin: .5em 2em
}
.active-card{
    background-color: #6429B7;
    color: #fff;
    padding-top: 1em;
    text-align: center;
    border-radius: 15px;
}

@media (max-width:940px) {
    .list{
        display: none;
    }

    .logo{
        margin: 2em 5%;
    }

    .btn{
        position: absolute;
        right: -.5em;
        
    }

    nav::after {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        display: block;
        content: "\f0c9";
        position: absolute;
        right: 2em;
        top: 2.5em;
      }

    /* hero */
    .hero{
        flex-direction: column;
    }

    .hero-left,
    .hero-right{
        width: 100%;
    }
    .hero-left{
        margin: 0 1em;
    }

    .hero-heading{
        font-size: 2.5rem;
    }

    /* main */
    .main{
        flex-direction: column;
    }

    .main-left,
    .main-right{
        width: 100%;
    }

    .main-right{
        order: -10;
        margin: 0 1em;
    }

}